@mixin fullSpace
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	width: 100vw
	height: 100vh


@mixin fullSpaceB
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0




.deltaEPCont
	position: fixed
	right: 0
	top: 0
	z-index: 1001


.deltaEditProduct
	@include fullSpace
	position: fixed
	z-index: 1000
	display: none
	background: rgb(255, 255, 255)
	padding: 3vh 3vw
	box-sizing: border-box

	.tabs
		display: flex
		.tab
			padding: 10px 20px
			padding: 10px 20px
			border-top: 2px solid #eee
			margin-right: 11px
			cursor: pointer
			&.active
				border-top: 2px solid #f00

	&.active
		display: block

	input
		border: 1px solid #eee
		padding: 8px 15px

	.cont
		display: none
		&.active
			display: block 

	.tabContent 
		padding-top: 40px

		.oneInut
			position: relative
			margin-bottom: 35px

			label
				position: absolute
				top: 15px
				left: 15px
				transition: 200ms


			input
				background: #f9f9f9
				padding: 15px 15px
				min-width: 600px
				border-radius: 2px
				outline: none

			input:focus + label , input:not([value=""]) + label
				top: -15px !important
				font-size: 12px !important


			input[value=""]+label
				top: 15px
				font-size: 14px









.controls
	position: absolute
	bottom: 0
	margin-bottom: 4vh

	.dControl
		background: #1d3384
		border: none
		color: #fff
		padding: 10px 22px
		margin-right: 10px
		border-radius: 2px
		cursor: pointer

		&:hover
			filter: brightness(1.1)


.imagelist
	max-height: 70vh
	display: flex
	margin-top: 40px
	flex-wrap: wrap

	.imgprogress
		width: 100px
		height: 100px
		display: block
		margin: 0 10px 10px 0
		background: #eee
		position: relative
		cursor: move
		&.deleted
			display: none

		&.editing
			position: relative
			&:after
				content: ""
				@include fullSpaceB
				background: rgba(29, 51, 132, 0.50)


	.deleteThis
		position: absolute
		top: 0
		right: 0
		width: 30px
		height: 30px
		text-align: center
		line-height: 30px
		background: rgba(255, 0, 12, 0.54)
		cursor: pointer

	img
		max-width: 100%

	.progress-bar-mini
		position: absolute
		bottom: 0
		top: 0
		left: 0
		width: 0
		background: rgba(0, 67, 255, 0.380)


.PropsGroups
	width: 20%

	.addGroup
		padding: 9px 0
		background: #1d3384
		margin-bottom: 22px
		text-align: center
		font-size: 21px
		border-radius: 2px
		color: #fff
		cursor: pointer

	.accept
		position: absolute
		top: 0
		bottom: 0
		background: #1d3384
		border: none
		right: 0
		width: 70
		outline: none
		border-radius: 0 2px 2px 0
		cursor: pointer
		
	.accept 
		img
			width: 50%
			height: 50%

	.oneInut input
		min-width: 100% !important
		width: 100%

	input
		&.propsGroupList
			width: 100%
			cursor: pointer
			background: #f9f9f9

		&[disabled=disabled]
			background: #efefef


